/* .banner__wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}


.button__wrapper2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1170px;
    max-height: 140px;
  }
   */