.header {
  max-width: 1920px;
  max-height: 95px;
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  background-color: #37F69B;
  border: 1px solid rgb(206, 149, 44);
  
}

.header__wrapper {
 max-width: 1170px;
 max-height: 93px;
 border: 1px solid red;
}
