/* header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center; */

/* header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
header > a:hover {
  text-decoration: underline;
} */
/* 
h1 {
  text-align: center;
  margin-top: 0;
} */

/* .container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 10px;

} */

/* main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-bg);
}
main a:hover {
  text-decoration: underline;
} */

/* .active {
  color: var(--color-active);
  cursor: default;
} */

:root {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #edf6fa;
  margin: 0;
  padding: 0;
}

.page {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  color: #fff;
  padding: 0;
  /* display: flex;
  flex-direction: column; */
  /* border: 5px solid orangered; */
}

.header {
  max-width: 1920px;
  max-height: 95px;
  box-sizing: border-box;
  /* background-color: #FFFFFF; */
  /* border: 5px solid rgb(206, 149, 44); */
}
.header__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  max-height: 93px;
  /* border: 1px solid red; */
}
.header__button {
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  color: black;
  width: 245px;
  height: 55px;
  border-radius: 10px;
  background: #37f69b;
}
.header__links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 30px;
}

.link {
  padding: 0;
  display: inline-block;
  /* font-family: "Inter", "Arial ", sans-serif; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  text-decoration-line: none;
  color: black;
  transition: 0.3s ease-in;
}

.footer__link:hover {
  opacity: 0.8;
}

.color {
  background-color: #37f69b;
}

.h1 {
  color: #000;
}

.container {
  max-width: 1170px;
  height: 3795px;
  /* border: 2px solid blue; */
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.div1 {
  max-width: 1170px;
  min-height: 850px;
  /* background-color: #37f69b; */
  position: relative;
  /* border: 1px solid brown; */
}

.img {
  margin: 0;
  padding: 0;
  width: 555px;
  height: 650px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.title {
  font-family: Cera Pro;
  font-style: Bold;
  font-size: 85px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #000;
  max-width: 630px;
  margin: 0;
  padding: 0;
}

.studios {
  display: flex;
  align-items: center;
  gap: 251px;
  width: 1170px;
  height: 200px;
  background-color: #37f69b;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  color: black;
}

.h2 {
  font-style: Bold;
  font-size: 32px;
  margin-left: 58px;
}

.button2 {
  background-color: white;
  color: #1e6644;
  border-radius: 10px;
  width: 233px;
  height: 55px;
  cursor: pointer;
  border: none;
  margin-right: 60px;
}

.banner {
  margin-top: 80px;
  width: 1170px;
  height: 300px;
}
.h3 {
  margin-top: 80px;
  font-style: Bold;
  font-size: 44px;
  color: #000;
}
.main__grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 25px;
  /* border: 3px solid green; */

}

.card {
  width: 370px;
  height: 443px;
  /* border: 1px solid red; */
  border-radius: 10px;
  background-color: #fff;
}
.card__img {
  width:370px;
  height: 208px;
  border-bottom: 1px solid #ECF6F9 ;
}

.card__title {
  margin-top: 23px;
  margin-left: 20px;
  font-size: 22px;
  color: #000;



}

.card__paragraf{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 18px;
  color: #000;

}

.card__info{
  margin-top: 65px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 128px;
  height: 40px;
  background-color: rgba(225, 254, 240, 7);
  /* background-color: #E1FEF0; */
  color: #1E6644;
  border-radius: 10px;
  margin-left: 20px;

}

.card__info-dis {
  margin-top: 65px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 128px;
  height: 40px;
  border-radius: 10px;
  margin-left: 20px;
  background-color: royalblue;
  color: #AED0C0;
  /* border: 2px solid red; */
}


.card__icone {
  width: 18px;
  height: 17px;
}

.card__icone-text {
  color: #1E6644;
  font-size: 18px;
}